APP_ENV=development
WEB_PORT=3000
API_PORT=8080
DATABASE_URL=postgres://sodienthoai:sodienthoai@postgres:5432/sodienthoai?sslmode=disable
REDIS_ADDR=redis:6379
OPENSEARCH_URL=http://opensearch:9200
API_INTERNAL_BASE_URL=http://api:8080
NEXT_PUBLIC_API_BASE_URL=http://localhost:8080
